body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.container {
  width: 250px;
  display: grid;
  grid-template-areas:
    "logo"
    "action"
    "footer";
  margin: auto;
  grid-gap: 5em;
}
.logo {
  margin-top: 1em;
  grid-area: logo;
}
a{
    text-decoration: none;
    color:black;
}
.action {
  grid-area: action;
  text-align: center;
}
footer {
  grid-area: footer;
  
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap:0.5em;
  font-weight: 100;
}
span{
    color:#53c4cc;
    font-weight: 700;
    font-size: 1.2em;
}
.btn-primary {
  width: 250px;
  background: transparent;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  padding: 0.9rem 1.6rem;
  transition: all 0.3s linear;
  cursor: pointer;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  border:2px solid #53c4cc;
  background: #53c4cc;
  color:white;
}
.btn-primary:hover {
  color: black;
  background: transparent;
  
  
  box-shadow: none;
}
.button {
  text-decoration: none;
}
.button::before {
  content: "reality = your dream + my dream";
  display: block;
  width: 250px;
  color: #53c4cc;
  font-weight: 700;
  font-size: .9em;

}
.underlined{
    text-decoration: underline;
}